body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    background-color: #A07E28;
}

header {
    background-color: #483600;
    padding: 0; 
}

.Instalaciones a {
    color: #FFE27F; 
    font-weight: bold; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px; 
}

.info {
    padding: 20px;
}

.info {
    color: white;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
