* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a67c23;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3b2704;
}
nav ul li a:hover {
    color: #FFE27F; /* Cambia el color al pasar el ratón sobre el enlace */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.desktop-menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.mobile-menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.desktop-menu a.highlight {
    color: #FFE27F; 
    font-weight: bold; /* Negrita para HABITACIONES */
}


.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* sección de habitaciones */
.rooms {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.room {
    background-color: #7B5E2A;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.room img {
    width: 100%;
    height: auto;
}

.room-info {
    padding: 10px;
}

.room-info p {
    margin: 5px 0;
}

button {
    background-color: #D9C7A5;
    border: none;
    padding: 8px 12px;
    color: #333;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-toggle {
        display: inline;
    }

    .rooms {
        flex-direction: column;
        align-items: center;
    }
}
