* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a67c23;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3b2704;
}

nav ul li a:hover {
    color: #FFE27F; /* Cambia el color al pasar el ratón sobre el enlace */
}
nav ul li a:hover {
    color: #FFE27F; /* Cambia el color al pasar el ratón sobre el enlace */
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.desktop-menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.mobile-menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    background-color: #3b2704;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 400px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px; /* Añadir margen inferior */
}

.container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 20px;
}

.room-options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px; /* Puedes ajustar este valor si lo deseas */
    height: 500px;
    margin: 20px auto; /* Centra el contenedor y añade margen superior e inferior */
}

.room-options button {
    background-color: #d8d3cd;
    color: #3b2704;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px; /* Añade margen horizontal */
}

.room-image {
    margin: 20px auto; /* Centra la imagen y añade margen superior */
}

.room-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.desktop-menu a.highlight {
    color: #FFE27F; /* Color específico para HABITACIONES */
    font-weight: bold; /* Negrita para HABITACIONES */
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
}

/* Estilos de móvil */
@media (max-width: 480px) {
    header {
        flex-direction: column;
    }
    .logo h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    .room-options button {
        font-size: 14px;
    }
}
