body {
    font-family: Arial, sans-serif;
    background-color: #A07E28;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #483600;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #FFE27F;
    color: #483600;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #f5f2e5;
}
