body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    background-color: #A07E28;
}

header {
    background-color: #483600;
    padding: 0; 
}

.inicio a {
    color: #FFE27F; 
    font-weight: bold; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px; 
}

.logo-container {
    text-align: center;
    margin: 0; 
    padding: 0; 
}


nav ul li a:hover {
    color: #FFE27F; /* Cambia el color al pasar el ratón sobre el enlace */
}

.logo {
    max-width: 150px; 
    margin: 10px; 
}

.slogan {
    text-align: center;
    margin: 0; 
    color: black;
    padding: 0; 
    font-size: 22px;
}

.carousel {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.10s ease;
}

.carousel img {
    width: 500px; 
    height: 350px;
}

.register-button-container {
    text-align: center;
    margin-top: 20px;
}

.register-button {
    position: fixed; /* Permite posicionar el botón en coordenadas específicas */
    top: 550px; /* Distancia desde la parte superior de la ventana */
    right: 240px; /* Distancia desde la derecha de la ventana */
    width: 170px; /* Ancho del botón */
    height: 35px; /* Altura del botón */
    background-color: #483600; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 25px; /* Bordes redondeados */
    display: flex; /* Para centrar el texto */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 1; 
}

.Inicio-button {
    position: fixed; /* Permite posicionar el botón en coordenadas específicas */
    top: 450px; /* Distancia desde la parte superior de la ventana */
    right: 240px; /* Distancia desde la derecha de la ventana */
    width: 170px; /* Ancho del botón */
    height: 35px; /* Altura del botón */
    background-color: #483600; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 25px; /* Bordes redondeados */
    display: flex; /* Para centrar el texto */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 1; 
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* --------------------------- */
/* Media Queries para tabletas */
@media (max-width: 850px) {
    header {
        width: 850px; /* Ajustar el ancho del menú para tabletas */
    }

    nav ul {
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    nav ul li {
        margin: 15px 0; /* Espaciado vertical entre elementos */
    }

    .logo {
        max-width: 150px; 
    }

    .slogan {
        font-size: 18px; 
    }

    .carousel {
        max-width: 60%; /* Ajustar el ancho del carrusel */
    }

    .register-button {
        width: 150px; 
        height: 30px; 
        line-height: 30px; /* Centrar texto verticalmente */
        margin: 400px auto; /* Centrar el botón */
    }
}

/* --------------------------- */
/* Media Queries para tabletas */
@media (max-width: 450px) {
    header {
        width: 450px; /* Ajustar el ancho del menú para tabletas */
    }

    nav ul {
        flex-direction: column; /* Cambiar a disposición vertical */
        align-items: center; /* Centrar los elementos verticalmente */
    }

    nav ul li {
        margin: 15px 0; /* Espaciado vertical entre elementos */
    }

    .logo {
        max-width: 0; 
    }

    .slogan {
        font-size: 0; 
    }

    .carousel {
        max-width: 100%; /* Ajustar el ancho del carrusel */
    }

    .register-button {
        width: 150px; 
        height: 30px; 
        line-height: 30px; /* Centrar texto verticalmente */
        margin: 290px auto; /* Centrar el botón */
    }
}